.item {
    border: 1px solid black;
    font-family: monospace;
    font-size: 3rem;
    background-color: gold;
}

.content__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

.item-1 {
    grid-column: span 4;
}
.item-2 {
    grid-column: span 3;
}
.item-3 {
    grid-column: span 2;
}


